<nav *ngIf="!scrolledPassedFirstInput" class="navbar navbar-expand-md navbar-light bg-white main-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="small-screen-brand">
        <a class="navbar-brand" routerLink="/">
            <img class="zillow-brand-img"src="../assets/images/zillow-brand.PNG" alt="">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mt-lg-0 p-2 ul-small-screen-style">
            <li class="nav-item mr-3">
                <a class="nav-link text-dark dropdownLink" #buyLink><span>Buy</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link text-dark dropdownLink" #rentLink><span>Rent</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link text-dark dropdownLink" #sellLink><span>Sell</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link text-dark dropdownLink" #homeLoansLink><span>Home Loans</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark dropdownLink" #agentFinderLink><span>Agent finder</span></a>
            </li>
        </ul>
        <div class="p-2">
            <a class="navbar-brand big-screen-brand" routerLink="/">
                <img class="zillow-brand-img"src="../assets/images/zillow-brand.PNG" alt="">
            </a>
        </div>
        <ul class="navbar-nav mt-lg-0 p-2 ul-display-toggle">
            <li class="nav-item mr-3 li-display-toggle">
                <a class="nav-link text-dark"><span>List your rental</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link text-dark"><span>Advertise</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link text-dark"><span>Sign in or Join</span></a>
            </li>
            <li class="nav-item li-display-toggle">
                <a class="nav-link mr-3 text-dark"><span>Help</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="buy-link-on-hover-dropdown linkDropdown">
    <div>
        <h3>Imperial homes for sale</h3>
        <div>
            <span>Homes for sale</span>
            <span>Foreclosures</span>
            <span>For sale by owner</span>
            <span>Open houses</span>
            <span>New construction</span>
            <span>Coming soon</span>
            <span>Recent home sales</span>
            <span>All homes</span>
        </div>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>Resources</h3>
        <div>
            <span>Buyers Guide</span>
            <span>Foreclosure center</span>
            <span>Real estate app</span>
            <span>Find a buyer's agent</span>
            <span>Schools in Imperial</span>
        </div>
    </div>
</div>
<div class="rent-link-on-hover-dropdown linkDropdown">
    <div>
        <h3>Search For Rentals</h3>
        <span>Rental Buildings</span>
        <span>Apartments for rent</span>
        <span>Houses for rent</span>
        <span>All rental listings</span>
        <span>All rental buildings</span>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>I'm a Rental Manager</h3>
        <span>Sign in to see your listings</span>
        <span>List a rental</span>
        <span>Resource center</span>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>I'm a Renter</h3>
        <span>My rent payments</span>
        <span>Reant affordability calculator</span>
        <span>Renters Guide</span>
    </div>
</div>
<div class="sell-link-on-hover-dropdown linkDropdown">
    <div>
        <h3>Selling tools</h3>
        <span>See your home's Zestimate</span>
        <span>Home values</span>
        <span>Sellers Guide</span>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>Post a home for sale</h3>
        <span>Sell with Zillow Offers</span>
        <span>For sale by owner</span>
        <span>Make me move</span>
    </div>
</div>
<div class="home-loans-link-on-hover-dropdown linkDropdown">
    <div>
        <h3>Shop mortgages</h3>
        <span>Mortgage lenders</span>
        <span>HELOC lenders</span>
        <span>Mortgage rates</span>
        <span>Refinance rates</span>
        <span>All mortgage rates</span>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>Calculators</h3>
        <span>Mortgage calculator</span>
        <span>Refinance calculator</span>
        <span>Affordability calculator</span>
        <span>Amortization calculator</span>
        <span>Debt-to-Income calculator</span>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>Resources</h3>
        <span>Lender reviews</span>
        <span>Mortgage learning center</span>
        <span>Mortgages app</span>
        <span>Lender resource center</span>
    </div>
</div>
<div class="agent-finder-link-on-hover-dropdown linkDropdown">
    <div>
        <h3>Looking for pros?</h3>
        <div>
            <span>Real estate agents</span>
            <span>Property Managers</span>
            <span>Home inspectors</span>
            <span>Other pros</span>
            <span>Home improvement pros</span>
            <span>Home builders</span>
            <span>Real estate photographers</span>
        </div>
    </div>
    <div class="vertical-line vertical-line-height"></div>
    <div>
        <h3>I'm a pro</h3>
        <div>
            <span>Agent advertising</span>
            <span>Agent resource center</span>
            <span>Create a free agent account</span>
            <span>Real estate marketing guide</span>
            <span>Agent email scripts</span>
            <span>Listing flyer templates</span>
        </div>
    </div>
</div>
<nav *ngIf="scrolledPassedFirstInput" class="secondary-nav">
    <img class="zillow-brand-img" src="../assets/images/zillow-brand.PNG" alt="">
    <form>
        <input type="text" placeholder="Enter an address, neighborhood, city, or ZIP code">
        <div>
            <div class="search-icon"></div>
        </div>
    </form>
</nav>

<app-home-page></app-home-page>

<footer>
    <div class="dropdowns">
        <span>Real Estate<svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8" xml:space="preserve">
            <polyline fill="none" stroke="rgb(0, 106, 255)" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
            48.8,1.7 25.2,25.2 1.7,1.7 "/>
          </svg>
        </span>
        <div class="vertical-line vertical-line-height"></div>
        <span>Rentals<svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8" xml:space="preserve">
            <polyline fill="none" stroke="rgb(0, 106, 255)" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
            48.8,1.7 25.2,25.2 1.7,1.7 "/>
          </svg>
        </span>
        <div class="vertical-line vertical-line-height"></div>
        <span>Mortgage Rates<svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8" xml:space="preserve">
            <polyline fill="none" stroke="rgb(0, 106, 255)" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
            48.8,1.7 25.2,25.2 1.7,1.7 "/>
          </svg>
        </span>
        <div class="vertical-line vertical-line-height"></div>
        <span>Browse Homes<svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 50.2 26.8" enable-background="new 0 0 50.2 26.8" xml:space="preserve">
            <polyline fill="none" stroke="rgb(0, 106, 255)" stroke-width="9" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
            48.8,1.7 25.2,25.2 1.7,1.7 "/>
          </svg>
        </span>
    </div>
    <hr>
    <nav class="footer-nav">
        <span>About</span>
        <span>Zestimates</span>
        <span>Research</span>
        <span>Careers</span>
        <span>Help</span>
        <span>Advertise</span>
        <span>Terms of use & Privacy</span>
        <span>Ad Choice</span>
        <span>Cookie Preference</span>
        <span>Blog</span>
        <span>AI</span>
        <span>Mobile Apps</span>
    </nav>
    <hr>
    <div class="zillow-brand-container">
        <img class="zillow-brand-img" src="../assets/images/zillow-brand.PNG" alt="">
        <span class="copyright-text"><i>Follow us: </i></span>
        <svg class="facebook-svg" xmlns="http://www.w3.org/2000/svg" aria-label="Facebook" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#3b5998"/><path fill="#fff" d="M330 512V322h64l9-74h-73v-47c0-22 6-36 37-36h39V99c-7-1-30-3-57-3-57 0-95 34-95 98v54h-64v74h64v190z"/></svg>
        <svg class="twitter-svg" xmlns="http://www.w3.org/2000/svg" aria-label="Twitter" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#1da1f3"/><path fill="#fff" d="M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37"/></svg>
        <span class="copyright-text"><i>&copy; 2006-2019 Zillow</i></span>
        <img class="house-img" src="../assets/images/house-image.PNG" alt="">
    </div>
    <img class="footer-img" src="../assets/images/zillow-footer.PNG" alt="">
</footer>