<nav class="navbar navbar-expand-md navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mt-2 mt-lg-0 p-2">
            <li class="nav-item mr-3">
                <a class="nav-link">Buy</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link">Rent</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link">Sell</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link">Home Loans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Agent finder</a>
            </li>
        </ul>
        <div class="p-2">
            <a class="navbar-brand">Navbar</a>
        </div>
        <ul class="navbar-nav mt-2 mt-lg-0 p-2">
            <li class="nav-item mr-3 display-toggle">
                <a class="nav-link">List your rental</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link">Advertise</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link">Sign in or Join</a>
            </li>
            <li class="nav-item display-toggle">
                <a class="nav-link mr-3">Help</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>