<div class="img-container">
    <div class="background-img">
        <h1>Reimagine home</h1>
        <h2>We’ll help you find a place you’ll love.</h2>
        <form>
            <input type="text" placeholder="Enter an address, neighborhood, city, or ZIP code">
            <div>
                <div class="search-icon"></div>
            </div>
        </form>
    </div>
</div>
<div class="square-section">
    <h1>We have the most listings and constant updates. So you’ll never miss out.</h1>
    <div class="yellow-line"></div>
    <div class="square-container d-flex justify-content-between">
        <div class="square p-2">
            <p>Find your place with an immersive photo experience and the most listings, including things you won't find anywhere else.</p>
        </div>
        <div class="square p-2">
            <p>Whether you sell with new Zillow Offers or take another approach, we'll help you navigate the path to a successful sale.</p>
        </div>
        <div class="square p-2">
            <p>We're creating a seamless online expreience - from shopping on the largest rental network, to applying, to paying rent.</p>
        </div>
    </div>
</div>